body {
    font-family:  "Arial, sans-serif";
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

ul.ingredients-list {
    list-style: square;
}

header > img {
    width: 100px;
}

ul li a {
    text-decoration: none;
    color: red;
}

body {
    background-color: pink
}

#reviews input {
    cursor: pointer;
    outline: none;
}


#review-form:last-child:hover {
    background-color: gold;
}

ol > li#one {
    background-color: gray;
}

.user_review + div{ 
    border-top: 1px;
    border-top-style: solid;
    border-top-color: black;
}

input[type='radio']{
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url("./stars.png");
    vertical-align: bottom;
}

input[type='radio']:hover{
    background-position: 30px 60px;
}

input[type='radio']:checked{
    background-position: 30px 30px;
}